@font-face {
    font-family: Ubuntu;
    src: url(fonts/Ubuntu-M.ttf);
}

@font-face {
    font-family: IBM;
    src: url(fonts/IBM-Logo.ttf);
}

body
{
    background-color: rgb(255, 255, 255);
    padding-left: 5%;
    padding-right: 5%;
}

header
{
    padding-top: 10px;
    background-color: white;
    text-align: center;
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
    padding-bottom: 5px;
}

nav
{
    position: fixed;
    top: 4px;
    padding-bottom: 10px;
    padding-top: 10px;
}

main
{
    text-align: center;
    color: black;
    padding-bottom: 100px;
}

footer
{
    padding-top: 40px;
    background-color: rgba(0, 0, 0, 0.30);
    text-align: center;
}

h1
{
    font-size: 84px;
    color: rgb(0, 0, 0);
    font-family: Ubuntu, Arial, Helvetica, sans-serif;
    text-align: center;
    text-shadow: black;
}

h2
{
    font-family: IBM, Ubuntu, Arial, Helvetica, sans-serif;
}

.break
{
    width: auto;
    background-color: lightgrey;
    height: 60px;
}

.content
{
    min-height: 120px;
    text-align: left;
    padding-left: 10px;
    padding-right: 10px;
}

.break p
{
    width: auto;
    background-color: lightgrey;
    height: 60px;
}

p
{
    font-size: 18px;
    color: rgb(0, 0, 0);
    font-family: Ubuntu, Arial, Helvetica, sans-serif;
    text-shadow: black;
}

a
{
    color: rgb(0, 0, 0);
    font-family: Ubuntu, Arial, Helvetica, sans-serif;
    text-shadow: rgb(255, 255, 255);
}

b
{
    color: rgb(255, 255, 255);
    font-family: Ubuntu, Arial, Helvetica, sans-serif;
    text-shadow: rgb(255, 255, 255);
}

.footer
{
    color: rgb(255, 255, 255);
    padding-bottom: 8px;
    font-size: 8px;
}

.sidebar
{
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: lightgrey;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    white-space: nowrap;
}
  
.sidebar a 
{
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #ffffff;
    display: block;
    transition: 0.3s;
}
  
.sidebar a:hover 
{
    color: #f1f1f1;
}
  
.sidebar .closebtn 
{
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
  
.openbtn 
  {
    font-size: 20px;
    background-color: white;
    cursor: pointer;
    border: none;
}
  
.openbtn:hover 
{
    background-color: lightgrey;
}